.App {
  width: 100%;
  height: 100vh;
  background-color: rgb(32,35,48);
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
}


.logo-container {
  animation: fill 0.5s ease forwards 3.5s;

}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: top left;
  transform: translate(-50%, -50%);

  animation:
    fill 1.75s ease forwards 2.5s,
    leave 0.25s linear forwards 5s;
}

#logo path:nth-child(1) {
  stroke-dasharray: 492px;
  stroke-dashoffset: 492px;
  animation: line-anim 2s ease forwards 0.5s;
}

#logo path:nth-child(2) {
  stroke-dasharray: 509px;
  stroke-dashoffset: 509px;
  animation: line-anim 2s ease forwards 1s;

}

@keyframes line-anim{
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  0% {
    fill: transparent;
  }
  75% {
    fill: white;
  }
  100% {
    fill: white;
  }
}

@keyframes leave {
  90% {
    transform: scale(0.1);

  }
  100% {
    transform: scale(0);
    transform-origin: top left;
    opacity: 0;
  }
}

nav {
  margin-top: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 10vh;
  color: white;
}

#logoStyle {
  height: 30px;
  margin-left: 5vw;
}

.nav-links {
  margin-left: auto;
  margin-right: 5vw;
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-links > .active {
  border-bottom: 1px solid white;
}

.home-section {
  height:100vh;
  width: 60vw;
  background-color: rgb(32,35,48);
  padding: 1px 0 0 0;
  margin: -1px auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-text {
  margin-top: 25vh;
}

.home-1 {
  font-size: 25px;
  font-weight: 300;
  color: white;
}

.home-2 {
  margin-top: 1vh;
  font-size: 100px;
  font-weight: 900;
  color: #ccd6f6
}

.home-3 {
  font-size: 90px;
  font-weight: 900;
  color: #8892b0;

}

.home-4 {
  font-size: 25px;
  color: #8892b0;
  width: 30vw;
  margin-top: 5vh;
}


.about-section {
  height:100vh;
  background-color: skyblue;
  padding: 1px 0 0 0;
  margin: -1px auto 0 auto;

}


.experience-section {
  height:100vh;
  background-color: red;
  padding: 1px 0 0 0;
  margin: -1px auto 0 auto;

}

.work-section {
  height:100vh;
  background-color: blue;
  padding: 1px 0 0 0;
  margin: -1px auto 0 auto;

}

.contact-section {
  height:100vh;
  background-color: pink;
  padding: 1px 0 0 0;
  margin: -1px auto 0 auto;

}
